.filter .filter-panel button.more {
  border: 1px solid #ced4da;
}
.filter .filter-panel .dropdown-menu {
  will-change: none !important;
  transform: none !important;
  top: auto !important;
  left: auto !important;
  width: 300px;
  right: 0 !important;
}
.filter .filter-panel .dropdown-menu .field label {
  font-weight: 100;
  font-size: 12px;
}
