@import "vars";

form{
	label{
		font-weight: bold;
	}
	input{
		&::placeholder{
			font-style: italic;
			font-size: 13px;
			color: #95a7ae;
			-moz-user-select: none;
			user-select: none;
		}
	}
	.invalid-feedback{
		display: block;
		font-size: 100%;
	}
	label{
		-moz-user-select: none;
		user-select: none;
	}
	.csrf{

	}
	.fields{
		position: relative;
		.clickable-geo-fields{
			position: absolute;
			background: #FFF;
			width: 100%;
			border: solid 1px #ccc;
			z-index: 3;
			max-height: 200px;
			overflow-y: auto;
			.link{
				padding: 0.25em 1em;
				border-bottom: solid 1px #ccc;
				&:hover{
					background: @light-general-color;
				}
			}
		}
		.closable{
			position: absolute;
			right: 0;
			border: solid 1px #ccc;
			padding: 0 8px;
			background: @danger;
			z-index: 4;
			a{
				font-weight: bold;
				color: #fff;
				&:hover{
					background: none;
				}
			}
		}
	}
}
.csrf{
	margin-bottom: 0;
}