form label {
  font-weight: bold;
}
form input::placeholder {
  font-style: italic;
  font-size: 13px;
  color: #95a7ae;
  -moz-user-select: none;
  user-select: none;
}
form .invalid-feedback {
  display: block;
  font-size: 100%;
}
form label {
  -moz-user-select: none;
  user-select: none;
}
.csrf {
  margin-bottom: 0;
}
