@import "vars";
@import "session_messages";
@import "auth";
@import "breadcrumbs";
@import "error_pages";
@import "footer";
@import "form";
@import "sidebar";
@import "users";
@import "widgets";

body{
	color: #656565;
	font-size: 13px;
	background: @main-background-color ;
	a {
		color: @dark-blue;
		-moz-user-select: none;
		user-select: none;
	}
	a:active {
		color: @darked-blue;
	}
	a:hover {
		background: @light-general-color;
		color: @general-color;
		text-decoration: none;
	}
	.navbar.header-bar {
		background: @general-color;
		max-width: 1140px;
		margin: 0 auto;
		.logo{
			a{
				img.logo {
					max-height: 40px;
				}
				&:hover{
					background: none;
				}
			}
		}
	}
	main.container{
		.content {
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			background: #FFFFFF;
			.main-content{
				padding-top: 10px;
				min-height: calc(100vh - 110px);
			}

		}

	}


}
.chocolate-icon{
	color: chocolate;
}





