@general-color: #4a76a8;
@light-general-color:#d9e2ec;
@dark-blue: #2a5885;
@darked-blue: #47469c;
@light-blue: #009fff;
@main-background-color: #edeef0;
@success:#28a745;
@danger:#dc3545;

body{
	color: #656565;
	font-size: 13px;
	background: @main-background-color ;
	a {
		color: @dark-blue;
		-moz-user-select: none;
		user-select: none;
	}
	a:active {
		color: @darked-blue;
	}
	a:hover {
		background: @light-general-color;
		color: @general-color;
		text-decoration: none;
	}
	.navbar.header-bar {
		background: @general-color;
		max-width: 1140px;
		margin: 0 auto;
		.logo{
			a{
				img.logo {
					max-height: 40px;
				}
				&:hover{
					background: none;
				}
			}
		}
	}
	main.container{
		.content {
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			background: #FFFFFF;
			.main-content{
				padding-top: 10px;
				min-height: calc(100vh - 110px);
			}

			.error {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				min-height: calc(100vh - 400px);
				margin-bottom: 0;
				margin-top: 20px;

				.error-body{
					font-size: 40px;
					font-weight: 600;
				}
				.error-title{
					font-size: 80px;
					font-weight: 600;
					text-transform:uppercase;
					color: coral;
				}
				.error-header {
					font-weight: 600;
					@media (min-width: 1025px) {
						font-size: 200px;
					}
					@media (max-width: 1024px) {
						font-size: 170px;
					}
					@media (max-width: 768px) {
						font-size: 170px;
					}
					@media (max-width: 425px) {
						font-size: 170px;
					}
					@media (max-width: 375px) {
						font-size: 140px;
					}
					@media (max-width: 320px) {
						font-size: 100px;
					}
				}
				.request-method{
					color: red;
				}
				&.error404{
					.error-body{
						font-size: 30px;
						font-weight: 600;
						a{
							&:hover{
								text-decoration: underline;
								background: none;
							}
						}
					}
				}
				&.error_empty_page{
					.error-title{
						font-size: 50px;
					}
				}
			}
			.breadcrumbs{
				a{
					&:hover{
						&>.value{
							background: @light-general-color;
						}
					}
				}
				&#top{
					.breadcrumb{
						border-bottom: solid 1px #edeef0;
						margin-top: 15px;
						padding-bottom: 5px;
					}
				}
				&#bottom{
					.breadcrumb{
						border-top: solid 1px #edeef0;
						margin-bottom: 15px;
						padding-top: 5px;
					}
				}
				.breadcrumb{
					border-radius: 0;
					background: #FFFFFF;
					padding: 0;
					margin: 0;
					.breadcrumb-item + .breadcrumb-item::before{
						padding-right: 2.5px;
						font-weight: bold;
					}
					.breadcrumb-item + .breadcrumb-item{
						padding-left: 2.5px;
					}
					.value{
						display: inline-block;
						padding: 5px 5px;
						margin: 0;
						.icon{
							color: chocolate;
						}
					}
				}
			}
		}
		.sidebar-parent {
			font-weight: bold;
			@media (max-width: 767px) {
				display: none;
			}
			padding-left:0;
			.sidebar-title{
				color: #FFFFFF;
				background: @general-color;
				margin-left: 0;
				margin-right: 0;
				padding: 10px 20px;
				font-size: 15px;
			}

			.sidebar {
				-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
				margin-bottom: 1em;
				.list-group-item{
					padding: 0;
				}
				a{
					.sidebar-body{
						color: @general-color;
					}
					&:hover{
						.sidebar-body{
							background: @light-general-color;
							color: @general-color;
						}
					}
				}
				.sidebar-body{
					background: #FFFFFF;
					margin-left: 0;
					margin-right: 0;
					padding:10px;
				}
				.icon{
					color: chocolate;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	footer{
		padding: 0!important;
		margin: 0 auto;
		//background: @main-background-color !important;
		.footer-block{
			margin: 0;
			.footer-parent{
				padding: 0;
				.footer{
					margin-bottom: 0.25em;
					font-weight: bold;
					.footer-title{
						padding: 10px 20px;
						color: #FFFFFF;
						background: @general-color;
						margin-left: 0;
						margin-right: 0;
					}
					.footer-body{
						padding: 10px 20px;
						display: flex;
						background: #FFFFFF;
						color: @general-color;
						margin-left: 0;
						margin-right: 0;
						&.debug-menu{
							.title{
								color: chocolate;
							}
							.value{
								color: #6e7379;
								&.value-red{
									color: red;
								}

								&.value-green{
									color: green;
								}

							}
							a{
								padding:10px 5px;
							}
							.modal{
								ol{
									margin-bottom: 0;
								}
								.card{
									a{
										padding: .75rem 1.25rem;
									}
								}
								table{
									th{
										cursor: pointer;
									}
								}
								.files{
									padding: 1.25rem 1.25rem;
									margin-bottom: 0;
									background-color: rgba(0,0,0,.03);
									border-bottom: 1px solid rgba(0,0,0,.125);
								}
								.accordion{
									.card{
										border-radius: 0;
										a{
											&:hover{
												border-radius: 0;
											}
											.file{
												color: #6e7379;
											}
											.query{
												color: olivedrab;
											}
											.link{
												color: darkred;
											}
											.time{
												&.green{
													color: green;
												}
												&.red{
													color: red;
												}
											}
										}
									}
									.collapsed-debug-menu{
										border-radius: 0;
										ol{
											li{
												padding-top:5px;
												padding-bottom:5px;
												border-bottom:dashed 1px blue;
												.backtrace{
													.file{
														color: chocolate;
													}
													.query{
														color: olivedrab;
													}
												}
												&:last-child{
													padding-top:0;
													padding-bottom:0;
													border-bottom:none;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.footer-menu-info{
					.footer-body{
						font-weight: 100;
						background: @general-color;
						a{
							color: #FFFFFF;
							.icon{
								color: bisque;
							}
							&:hover{
								background: none;
								color: #9fcdff;
							}
						}
						.site-year{
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
}
.chocolate-icon{
	color: chocolate;
}

form{
	label{
		font-weight: bold;
	}
	input{
		&::placeholder{
			font-style: italic;
			font-size: 13px;
			color: #95a7ae;
			-moz-user-select: none;
			user-select: none;
		}
	}
	.invalid-feedback{
		display: block;
		font-size: 100%;
	}
	label{
		-moz-user-select: none;
		user-select: none;
	}
	.csrf{

	}
}

.form-auth{
	div.form{
		font-size: 24px;
		font-weight: bold;
	}
	.another-data{
		//max-width: 300px;
		float: right;
		margin-top: -6em;
		-moz-user-select: none;
		user-select: none;
		&:hover{
			cursor: pointer;
		}
		.form-links{
			a{
				//padding-left:10px;
			}
			&::after{
				content: "|";
				//padding-left:10px;
			}
			&:last-child{
				&::after{
					content: '';
					padding-right:0;
				}
			}
		}
	}
}

.csrf{
	margin-bottom: 0;
}
