.text-default,
.color-default {
  color: #4a76a8;
}
.btn-default,
.bg-default,
a:not([href]) {
  color: #fff;
  background-color: #4a76a8;
  border-color: #4a76a8;
}
.btn-default:hover,
.bg-default:hover,
a:not([href]):hover {
  background: #245f9e;
  color: #fff;
}
.chocolate-icon {
  color: chocolate;
}
.radius-0 {
  border-radius: 0 !important;
}
i,
svg {
  color: chocolate;
}
i.desktop,
svg.desktop {
  background: 1px #FFFFFF;
}
i.tablet,
svg.tablet {
  background: 1px #FFFFFF;
}
i.mobile,
svg.mobile {
  background: 1px #FFFFFF;
}
i.circle,
svg.circle {
  background: 1px #FFFFFF;
  border-radius: 50%;
}
i.fa-grin-alt,
svg.fa-grin-alt {
  color: #28a745;
}
i.fa-dizzy,
svg.fa-dizzy {
  color: #6f7985;
}
i.fa-angry,
svg.fa-angry {
  color: #dc3545;
}
i .fa-frown-open,
svg .fa-frown-open {
  color: #ffc107;
}
option.empty-value,
select[value="0"] {
  font-style: italic;
  color: #c8cbcf;
}
.btn-primary,
.btn-danger,
.btn-success,
.btn-warning,
.btn-default {
  font-weight: bold;
}
.btn-primary i,
.btn-danger i,
.btn-success i,
.btn-warning i,
.btn-default i,
.btn-primary svg,
.btn-danger svg,
.btn-success svg,
.btn-warning svg,
.btn-default svg {
  color: #FFFFFF;
}
.btn-group.field {
  min-width: 296px;
}
iframe {
  width: 100%;
  height: 30000px;
  border: none;
}
.user-profile .user-left-bar .user-menu .list-group {
  width: 200px;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item {
  padding: 0;
  border: none;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item .list-item-link {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: block;
  font-weight: bold;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item .list-item-link .text {
  padding-left: 0.5em;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item:first-child .list-item-link {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.user-profile .user-right-bar .user-header-info .user-name {
  font-size: 14px;
  font-weight: bold;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a {
  color: #28a745;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a i,
.user-profile .user-right-bar .user-header-info .user-date-log.online a svg {
  color: unset;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a i.circle,
.user-profile .user-right-bar .user-header-info .user-date-log.online a svg.circle {
  background: #28a745;
  border: solid 2px #FFFFFF;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a {
  color: #dc3545;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a i,
.user-profile .user-right-bar .user-header-info .user-date-log.offline a svg {
  color: unset;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a i.circle,
.user-profile .user-right-bar .user-header-info .user-date-log.offline a svg.circle {
  background: #dc3545;
  border: solid 2px #FFFFFF;
}
.user-profile .user-right-bar .user-status {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 4px;
}
.user-profile .user-right-bar .user-status .status-menu span {
  padding-left: 4px;
}
.user-profile .user-right-bar .user-status .status-menu span:after {
  content: "";
}
.user-profile .user-right-bar .user-status .status-menu span:last-child:after {
  content: '';
}
.user-profile .user-right-bar .user-visible-info {
  padding: 0;
}
.user-profile .user-right-bar .user-invisible-info {
  padding: 0;
}
.user-profile .user-right-bar .user-invisible-info .field-set-value {
  font-weight: bold;
}
.user-profile .user-right-bar .user-invisible-info .empty-value {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
}
.users-list .users .users-item {
  border-left: none;
  border-right: none;
}
.users-list .users .users-item:first-child {
  border-top: none;
}
.users-list .users .users-item:last-child {
  border-bottom: none;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar {
  position: relative;
  width: 64px;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar img {
  border-radius: 50%;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 0 3px;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online i,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online svg {
  color: #28a745;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online i.circle,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online svg.circle {
  background: #28a745;
  border: solid 2px #FFFFFF;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline i,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline svg {
  color: #dc3545;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline i.circle,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline svg.circle {
  background: #dc3545;
  border: solid 2px #FFFFFF;
}
.users-list .users .users-item .users-info .users-item-info .full-name {
  font-size: 12px;
  font-weight: bold;
}
.users-list .users .users-item .users-info .users-item-info .users-item-descriptions {
  color: #6f7985;
}
.user-info-widget .body a.user-info-link {
  position: relative;
  padding: 7px 20px;
}
.user-info-widget .body a.user-info-link i,
.user-info-widget .body a.user-info-link svg {
  font-size: 25px;
  color: #FFFFFF;
}
.user-info-widget .body a.user-info-link:hover {
  background: none;
  opacity: 0.8;
}
.user-info-widget .body a.user-info-link img {
  max-width: 24px;
}
.user-info-widget .body .count {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  background-color: #dc3545;
  padding: 0 6px;
  font-weight: bold;
}
.user-info-widget .body .dropdown-menu .dropdown-item {
  padding: 8px 25px;
}
.user-info-widget .body .dropdown-menu .dropdown-item img {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu .dropdown-item .icon {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu a.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
  padding: 0;
}
