@import "vars";

.user-profile{
	.user-left-bar{
		.user-avatar{

		}
		.user-menu{
			.list-group{
				width: 200px;
				.list-group-item{
					padding: 0;
					border: none;
					.list-item-link{
						border-left: 1px solid rgba(0, 0, 0, 0.125);
						border-right: 1px solid rgba(0, 0, 0, 0.125);
						border-bottom: 1px solid rgba(0, 0, 0, 0.125);
						border-top: none;
						width: 100%;
						height: 100%;
						padding: 0.75rem;
						display: block;
						font-weight: bold;
						i,svg{

						}
						.text{
							padding-left: 0.5em;
						}
					}
					&:first-child{
						.list-item-link{
							border-top: 1px solid rgba(0, 0, 0, 0.125);
						}
					}
				}
			}
		}
	}
	.user-right-bar{
		.user-header-info{
			.user-name{
				font-size: 14px;
				font-weight: bold;
			}
			.user-date-log{
				&.online{
					color: @success;
					i,svg{
						color: unset;
						&.circle{
							background:@success;
							border: solid 2px #FFFFFF;
						}
					}
				}
				&.offline{
					color: @danger;
					i,svg{
						color: unset;
						&.circle{
							background:@danger;
							border: solid 2px #FFFFFF;
						}
					}
				}
			}
		}
		.user-status{
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			padding-bottom: 4px;
			.status-menu{
				span{
					padding-left: 4px;
					&:after{
						content: "";
					}
					&:last-child{
						&:after{
							content: '';
						}
					}
				}
			}
		}
		.user-visible-info{
			padding: 0;
		}
		.user-invisible-info{
			padding: 0;
			.field-set{
			}
			.field-set-value{
				font-weight: bold;
			}
			.empty-value{
				border-top: 1px dashed #ccc;
				margin-top: 10px;
			}
		}
	}
}

.users-list{
	.users{
		.users-item{
			border-left:none;
			border-right:none;
			&:first-child{
				border-top: none;
			}
			&:last-child{
				border-bottom: none;
			}
			.users-info{
				.users-item-avatar{
					.avatar{
						position: relative;
						width: 64px;
						img{
							border-radius: 50%;
						}
						.status{
							position: absolute;
							bottom: 0;
							right: 0;
							border-radius: 50%;
							padding: 0 3px;
						}
						.status-online{
							i,svg{
								color: @success;
								&.circle{
									background:@success;
									border: solid 2px #FFFFFF;
								}
							}
						}
						.status-offline{
							i,svg{
								color: @danger;
								&.circle{
									background:@danger;
									border: solid 2px #FFFFFF;
								}
							}
						}
					}
				}
				.users-item-info{
					.full-name{
						font-size: 12px;
						font-weight: bold;
					}
					.info{

					}
					.users-item-descriptions{
						color: @text_footer_color;
					}
				}
			}
		}
	}
}