@import "vars";

.user-profile{
	.user-left-bar{
		.user-info-panel{
			.user-card{
				width: 200px;
				min-width: 200px;
				max-width: 200px;
				.card-header{
					font-size: 12px;
				}
				.card-body{
					color: chocolate;
					.reg-date{
						font-weight: bold;
						font-size: 11px;
					}
					.log-date{
						font-weight: bold;
						font-size: 11px;
						color: @success;
					}
					.user-groups{
						font-weight: bold;
						font-size: 11px;
					}
				}
			}
		}
		.user-avatar{
			img{
				max-width: 200px;
			}
		}
		.user-menu{
			.list-group{
				width: 200px;
				.list-group-item{
					padding: 0;
					border: none;
					.list-item-link{
						border-left: 1px solid rgba(0, 0, 0, 0.125);
						border-right: 1px solid rgba(0, 0, 0, 0.125);
						border-bottom: 1px solid rgba(0, 0, 0, 0.125);
						border-top: none;
						width: 100%;
						height: 100%;
						padding: 0.5rem;
						display: block;
						font-weight: bold;
						i,svg{

						}
						.text{
							padding-left: 0.5em;
						}
					}
					&:first-child{
						.list-item-link{
							border-top: 1px solid rgba(0, 0, 0, 0.125);
						}
					}
				}
			}
		}
	}
	.user-right-bar{
		.user-header-info{
			.user-name{
				font-size: 14px;
				font-weight: bold;
			}
			.user-date-log{
				&.online{
					a{
						color: @success;
						i,svg{
							color: unset;
							&.circle{
								background:@success;
								border: solid 2px #FFFFFF;
							}
						}
					}
				}
				&.offline{
					a{
						color: @danger;
						i,svg{
							color: unset;
							&.circle{
								background:@danger;
								border: solid 2px #FFFFFF;
							}
						}
					}
				}
			}
		}
		.user-status{
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			padding-bottom: 4px;
			.date-add{
				font-style: italic;
				opacity: 0.5;
				&:hover{
					opacity: 1;
				}
			}
			.status-menu{
				span{
					padding-left: 4px;
					&:after{
						content: "";
					}
					&:last-child{
						&:after{
							content: '';
						}
					}
				}
			}
		}
		.user-visible-info{
			padding: 0;
		}
		.user-invisible-info{
			padding: 0;
			.field-set{
			}
			.field-set-value{
				font-weight: bold;
			}
			.empty-value{
				border-top: 1px dashed #ccc;
				margin-top: 10px;
			}
		}
		.avatars-block{
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);
			.avatars-block-header{
				padding: 0.5em 1.5em;
				font-weight: bold;
				border: none;
				&:hover{
					background-color: #d9e2ec;
				}
				.link{

				}
				.count{
					font-style: italic;
					color: chocolate;
					font-size: 14px;
				}
			}
			.avatars-block-body{
				.avatars-block-body-item{

				}
			}
		}
	}
}

.users-list{
	.users{
		.users-item{
			border-left:none;
			border-right:none;
			&:first-child{
				border-top: none;
			}
			&:last-child{
				border-bottom: none;
			}
			.users-info{
				.users-item-avatar{
					.avatar{
						position: relative;
						width: 64px;
						img{
							border-radius: 50%;
						}
						.status{
							position: absolute;
							bottom: 0;
							right: 0;
							border-radius: 50%;
							padding: 0 3px;
						}
						.status-online{
							i,svg{
								color: @success;
								&.circle{
									background:@success;
									border: solid 2px #FFFFFF;
								}
							}
						}
						.status-offline{
							i,svg{
								color: @danger;
								&.circle{
									background:@danger;
									border: solid 2px #FFFFFF;
								}
							}
						}
					}
				}
				.users-item-info{
					.full-name{
						font-size: 12px;
						font-weight: bold;
					}
					.info{

					}
					.users-item-descriptions{
						color: @text_footer_color;
					}
				}
			}
		}
	}
}

.user-info-widget{
	.body{
		a{
			&.user-info-link{
				position: relative;
				padding:7px 20px;
				//border: solid 1px #FFFFFF;
				i,svg{
					font-size: 25px;
					color: #FFFFFF;
				}
				&:hover{
					background: none;
					opacity: 0.8;
				}
				img{
					max-width: 24px;
				}
			}
		}

		.count{
			position: absolute;
			top: 0;
			color: #FFFFFF;
			background-color: @danger;
			padding: 0 6px;
			font-weight: bold;
			//border-radius: 50%;
		}
		.dropdown-menu{
			.dropdown-item{
				img{
					padding-right: 10px;
				}
				.icon{
					padding-right: 10px;
				}
				padding: 8px 25px;
			}
			a.dropdown-divider{
				height: 0;
				margin: 0.5rem 0;
				overflow: hidden;
				border-top: 1px solid #e9ecef;
				padding: 0;
			}
		}
		&.search-panel{
			.input-group{
				input.form-control{
					&:active{
						border: none;
						box-shadow: unset;
					}
					&:focus{
						border: none;
						box-shadow: unset;
					}
				}
			}
		}
	}
	.user-journal{}
	.user-mail{}
}