.text-default,
.color-default {
  color: #4a76a8;
}
.btn-default,
.bg-default,
a:not([href]) {
  color: #fff;
  background-color: #4a76a8;
  border-color: #4a76a8;
}
.btn-default:hover,
.bg-default:hover,
a:not([href]):hover {
  background: #245f9e;
  color: #fff;
}
.chocolate-icon {
  color: chocolate;
}
.radius-0 {
  border-radius: 0 !important;
}
i,
svg {
  color: chocolate;
}
i.desktop,
svg.desktop {
  background: 1px #FFFFFF;
}
i.tablet,
svg.tablet {
  background: 1px #FFFFFF;
}
i.mobile,
svg.mobile {
  background: 1px #FFFFFF;
}
i.circle,
svg.circle {
  background: 1px #FFFFFF;
  border-radius: 50%;
}
i.fa-grin-alt,
svg.fa-grin-alt {
  color: #28a745;
}
i.fa-dizzy,
svg.fa-dizzy {
  color: #6f7985;
}
i.fa-angry,
svg.fa-angry {
  color: #dc3545;
}
i .fa-frown-open,
svg .fa-frown-open {
  color: #ffc107;
}
option.empty-value,
select[value="0"] {
  font-style: italic;
  color: #c8cbcf;
}
.btn-primary,
.btn-danger,
.btn-success,
.btn-warning,
.btn-default {
  font-weight: bold;
}
.btn-primary i,
.btn-danger i,
.btn-success i,
.btn-warning i,
.btn-default i,
.btn-primary svg,
.btn-danger svg,
.btn-success svg,
.btn-warning svg,
.btn-default svg {
  color: #FFFFFF;
}
.btn-group.field {
  min-width: 296px;
}
iframe {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 10px);
  border: none;
}
.sorting-panel .sorting-panel-item .nav-link {
  border-radius: 0;
}
.sorting-panel .sorting-panel-item .nav-link.active {
  position: relative;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link:hover {
  opacity: 0.8;
  background: none;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link svg,
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link i {
  position: absolute;
  right: 10px;
  top: 2px;
}
.paginate .pagination .page-item .page-link {
  border-radius: 0;
}
.paginate .pagination .page-item .page-link.active {
  background: #4a76a8;
  color: #FFFFFF;
}
.simple-accordion .accordion-buttons-link {
  color: #2a5885;
  cursor: pointer;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block {
  padding-bottom: 25px;
  padding-top: 5px;
  background-color: #f7f7f7;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block:hover {
  background-color: #d9e2ec;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block .accordion-button {
  position: absolute;
  font-weight: 600;
}
