@import "vars";

.sorting-panel{
	.nav-link{
		&.active{
			position: relative;
			.sorting-link{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				&:hover{
					opacity: 0.8;
					background: none;
				}
				svg,i{
					position: absolute;
					right: 0.5em;
					top: 0.25em;
					font-size: 15px;
				}
			}
		}
	}
}