.sorting-panel .sorting-panel-item .nav-link {
  border-radius: 0;
}
.sorting-panel .sorting-panel-item .nav-link.active {
  position: relative;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link:hover {
  opacity: 0.8;
  background: none;
}
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link svg,
.sorting-panel .sorting-panel-item .nav-link.active .sorting-link i {
  position: absolute;
  right: 10px;
  top: 2px;
}
.paginate .pagination .page-item .page-link {
  border-radius: 0;
}
.simple-accordion .accordion-buttons-link {
  color: #2a5885;
  cursor: pointer;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block {
  padding-bottom: 25px;
  padding-top: 5px;
  background-color: #f7f7f7;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block:hover {
  background-color: #d9e2ec;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block .accordion-button {
  position: absolute;
  font-weight: 600;
}
.user-info-widget .body a.user-info-link {
  position: relative;
  padding: 7px 20px;
}
.user-info-widget .body a.user-info-link i,
.user-info-widget .body a.user-info-link svg {
  font-size: 25px;
  color: #FFFFFF;
}
.user-info-widget .body a.user-info-link:hover {
  background: none;
  opacity: 0.8;
}
.user-info-widget .body a.user-info-link img {
  max-width: 24px;
}
.user-info-widget .body .count {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  background-color: #dc3545;
  padding: 0 6px;
  font-weight: bold;
}
.user-info-widget .body .dropdown-menu .dropdown-item {
  padding: 8px 25px;
}
.user-info-widget .body .dropdown-menu .dropdown-item img {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu .dropdown-item .icon {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu a.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
  padding: 0;
}
