AddDefaultCharset utf-8
Options -Indexes
ErrorDocument 403 /
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*) http://%1/$1 [L,R]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$  /$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !/public/
RewriteRule ^(.*)$ public/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# DirectoryIndex main.php				# то, что невозможно изменить: кастомная index.php
# RewriteRule ^(.*)$ ./main.php [L]		# с переадресацией на нее же
RewriteRule ^(.*)$ ./index.php [L]		# а эту - закомментировать

RewriteRule .git - [F]
RewriteRule .idea - [F]
RewriteRule .gitignore - [F]
RewriteRule .htaccess - [F]
RewriteRule .long_box - [F]
RewriteRule cli - [F]
RewriteRule composer.json - [F]
RewriteRule composer.lock - [F]
RewriteRule loader.php - [F]
RewriteRule README.MD - [F]
RewriteRule server.php - [F]

<If "%{REQUEST_FILENAME} =~ /^(.*)\.(cgi|api|exec)$/">
	Options +ExecCGI
	AddHandler	cgi-script	.cgi .api .exec
	AddType 	text/plain 	.cgi .api .exec
</If>

php_value log_errors "On"
php_value error_log ../system/cache/logs/php.log
php_value mail.log ../system/cache/logs/mail.log

# для Cache -> Files (include): отброшено - используем filemtime()
# php_value opcache.enable 0
# php_value opcache.file_update_protection 0
# php_value opcache.revalidate_freq 86400
