AddDefaultCharset utf-8
Options -Indexes
ErrorDocument 403 /
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*) http://%1/$1 [L,R]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$  /$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !/public/
RewriteRule ^(.*)$ public/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php [L]

RewriteRule .future - [F]
RewriteRule .htaccess - [F]
RewriteRule loader.php - [F]

#Options +ExecCGI
#AddHandler cgi-script .py
